.bodybac{
    background-color: black;
}
.title{
    background-image: url(./tvshowspic.jpg);
    color: white;
    text-align: center;
    font-size: 80px;
    outline: 5px solid rgb(75, 3, 104);
    text-shadow: 4px 4px rgb(54, 8, 54);
    font-style: oblique;
    margin-left: 100px;
    margin-right: 100px;
}

    
  
  .ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(25, 1, 36);
  }
  
  li {
    float: left;
  }
  
  .li,a {
    display: inline;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
 
  li a:hover {
    background-color: #111;
    text-decoration: none;
    color: rgb(180, 155, 197);
  }
  .p1{
      text-align: center;
      color: white;
      font-size: 20px;
      background-color: rgb(25, 29, 29);
      margin-left: 50px;
      margin-right: 50px;
      border-radius: 10px;
  }
  .insta{
      margin-left: 1120px;
      height: 25px;
      width: 25px;
      
  }
  .glee {
    text-decoration:underline;
    color: rgb(75, 3, 104);
    font-size: 70px;
    margin-left: 250px;
    margin-top: 120px;
  }
  .flexer{
      display: flex;
  }
  .li2{
      font-size: 40px;
      color:white ;
      margin-left: 25px;
      margin-top: 0px;
      
  }
  .img{
      margin-left: 3px;
      height: 100px;
      
  }
  .ul2{
     text-align: center;
  }
  .rating{
      color: white;
      background-color: indigo;
      border-radius: 10px;
      margin-left:500px;
      font-style: italic;

  }
  .sidebar{
    background-color: rgb(58, 54, 54);
    width: 120px;
    height: 1120px;
    border-radius: 15px;
}
    

    .dropbtn {
        background-color: rgb(111, 13, 114);
        color: black;
        padding: 5px;
        font-size: 16px;}
    .dropdown-content a {
        background-color: rgb(111, 13, 114) ;
      color: white;
      padding: 10px 10px;
      text-decoration: none;
      display: block;
    }
    .dropdown-content :hover{
    color: black;
    }
    